@{
    ViewData["Title"] = "Inicio";
}

<div class="home-page">
    <h1 class="title-home">Bem vindo ao teste UneCont</h1>
    <div class="car-teste">
        <div class="row-teste">
            <p class="text-title">Parênteses Balanceados</p>
            <a class="btn-teste" href="~/teste/paranteses">Visualizar</a>
        </div>
    </div>
    <div class="car-teste mt-4">
        <div class="row-teste">
            <p class="text-title">Problema da soma de dois números</p>
            <a class="btn-teste" href="~/teste/soma">Visualizar</a>
        </div>
    </div>
    <div class="car-teste mt-4">
        <div class="row-teste">
            <p class="text-title">Problema do Zelador Eficiente</p>
            <a class="btn-teste" href="~/teste/zelador">Visualizar</a>
        </div>
    </div>
    <div class="car-teste mt-4">
        <div class="row-teste">
            <p class="text-title">Possivelmente Palíndromas</p>
            <a class="btn-teste" href="~/teste/palindromas">Visualizar</a>
        </div>
    </div>
</div>