@{
    ViewData["Title"] = "Soma de dois números";
}

<div class="teste-container">
    <div class="text-title"><strong>Problema da soma de dois números</strong></div>
    <div class="text">
        Um vetor com números chamado numeros é dado e pede-se que você encontre os dois elementos desse vetor que
        somados são iguais ao número objetivo.<br>

        Considere que existe somente uma solução possível e que você não poderá usar o mesmo elemento mais de uma
        vez.<br>

        Retorne os valores em ordem crescente de indice no vetor.<br>

        Obs.: Números repetidos são considerados elementos diferentes.<br><br>


        Descrição do formato da função solução<br>
        1) Recebe como parâmetro um vetor numeros e um número inteiro objetivo<br>
        2) Retorne um vetor com duas posições cujos valores são os indices do vetor em ordem crescente que fazem a
        soma<br>
        objetivo ser possível.<br><br>


        Exemplos<br>
        Examplo 1:<br>
        Entrada: numeros = [2,7,11,15], objetivo = 9<br>
        Saída: [0,1]<br>

        Examplo 2:<br>
        Entrada: numeros = [3,2,4], objetivo = 6<br>
        Saída: [1,2]<br>

        Examplo 3:<br>
        Entrada: numeros = [3,3], objetivo = 6<br>
        Saída: [0,1]<br>
    </div>

    <div class="card-teste">
        <div class="card-body">
            <div class="card-text">
                <strong>Números:</strong><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite apenas números separados por vírgula"
                        id="numero" aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>
            </div>
            <div class="card-text">
                <strong>Objetivo:</strong><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite o valor da soma" id="objetivo"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        onclick="calcularViagens()">Iniciar</button>
                </div>
            </div>
            <div class="card-text">
                <strong>Saída:</strong><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Aguarde a saída" id="saida"
                        aria-label="Recipient's username" aria-describedby="button-addon2" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/soma.js"></script>
}